<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" integrity="sha512-EZLkOqwILORob+p0BXZc+Vm3RgJBOe1Iq/0fiI7r/wJgzOFZMlsqTa29UEl6v6U6gsV4uIpsNZoV32YZqrCRCQ==" crossorigin="anonymous" />
    <title>WebPage</title>
</head>
<body>
    <h3>Halaman Website Anda</h3>
    <p>Selamat datang di komunitas profesional Anda</p> 
 
    <h4>Hi <%= user.name %></h4>
    <img src="<%= user.picture %>" alt=""><br>
    <label><a href="/logout">User Sign Out</a></label>

</body>
</html>